includes:
- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	paths:
	- src
	- tests
	tmpDir: %currentWorkingDirectory%/.build/phpstan
